body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 200px;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    width: auto;
}

#rock, #paper, #scissors {
    width: 75px;
    height: 75px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 200%;
}

#restart {
    width: 100px;
    height: 25px;
    border: 1px solid black;
    border-radius: 5px;
}

#message {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

#message p {
    margin-top: 0px;
    margin-bottom: 25px;
}